@charset "utf-8";

.edit-task {
  width: 1000px;
  margin: 0 auto;
}

.edit-task-form {
  color: #555555;
}

.edit-task-title,
.edit-task-detail {
  width: 300px;
  margin-bottom: 25px;
}

.delete-task-button {
  color: #ff3333;
  border: solid 1px #ff3333;
  width: 80px;
  height: 40px;
  margin: 25px 5px;
  border-radius: 5px;
}

.edit-task-button {
  background-color: #242f9b;
  color: #ffffff;
  width: 80px;
  height: 40px;
  border-radius: 5px;
}

.error-message {
  color: #ff3333;
}

/* ▼ スマートフォン対応（iPhone SE など） */
@media screen and (max-width: 480px) {
  .edit-list {
    width: 90%;
    margin: 0 auto;
  }

  .edit-list-title {
    width: 100%;
  }

  .delete-list-button,
  .edit-list-button {
    width: 100%;
    margin: 10px 0;
  }
}

/* ▼ タブレット対応（iPad など） */
@media screen and (max-width: 768px) {
  .edit-list {
    width: 95%;
  }

  .edit-list-title {
    width: 100%;
  }
}