@charset "utf-8";

.signup {
  width: 500px;
  margin: 0 auto;
}
.signup-form {
  margin: 25px 0;
  color: #555555;
}

.email-input,
.name-input,
.password-input {
  width: 100%;
  font-size: large;
  height: 30px;
  margin-bottom: 25px;
}

.signup-button {
  background-color: #242f9b;
  color: #ffffff;
  width: 100px;
  height: 40px;
  border-radius: 5px;
}

.error-message {
  color: #ff3333;
}

/* ▼ スマートフォン対応（iPhone SE など） */
@media screen and (max-width: 480px) {
  .edit-list {
    width: 90%;
    margin: 0 auto;
  }

  .edit-list-title {
    width: 100%;
  }

  .delete-list-button,
  .edit-list-button {
    width: 100%;
    margin: 10px 0;
  }
}

/* ▼ タブレット対応（iPad など） */
@media screen and (max-width: 768px) {
  .edit-list {
    width: 95%;
  }

  .edit-list-title {
    width: 100%;
  }
}